
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("CategoryTable");

            //Html.RenderAction("Create");
        }
    </div>
    <hr />

    <div id="actionContainer">


    </div>

</div>



<script>
    function focusAction(controltofocus) {
        $('html, body').animate({
            scrollTop: $("#" + controltofocus).offset().top - 100
        }, 1000);
    }

</script>